// assumes <nav><main><ul>

nav.pi-unimenu
	position: relative
	opacity: 1
	z-index: 9000
	
	ul, li
		list-style: none

	ul
		margin: 0
		padding: 0
		height: 0
		overflow: hidden

	li > ul
		padding-left: 20px

	a
		display: inline-block
		padding: 10px
		width: 100%
		background-color: #ffdddd

	main
		& > ul
			display: flex
			justify-content: space-between
			margin: 0
			padding: 0
			height: auto
	
		& > ul > li + li
			margin-left: 30px
	
		& > ul > li:hover ul
			height: auto


.pi-burger-button
	display: none
	z-index: 10000

	.hamburger
		display: block
		height: 4px
		width: 30px
		background-color: #fff
		vertical-align: middle
		position: absolute
		left: 50%
		top: 50%
		transform: translate(-50%, -50%)
		transition: all 0.15s ease-out

		&:before, &:after
			content: ''
			display: block
			position: absolute
			height: 4px
			width: 100%
			background-color: #fff
			right: 0
			top: -10px
			transition: all 0.15s ease-out

		&:after
			top: auto
			bottom: -10px

@media screen and (max-width: 1024px)

	.pi-burger-button
		display: block
		position: absolute
		top: 50%
		right: -10px
		transform: translateY(-50%)
		width: 50px
		height: 50px
		background: transparent
		outline: none
		border: none
		cursor: pointer

	nav.pi-unimenu
		display: none
		opacity: 0
		transition: opacity 0.5s

		ul
			height: auto

	body.open-nav
		overflow: hidden

		.hamburger
			background-color: transparent !important

			&:before, &:after
				width: 100%
				top: 0
				right: 0
				transform: rotate(45deg)
				background-color: #fff !important

			&:after
				width: 100%
				bottom: 0
				right: 0
				transform: rotate(-45deg)
				background-color: #fff !important

		& nav.pi-unimenu
			display: block
			position: fixed
			margin: 0 !important
			top: 0
			left: 0
			width: 100vw
			height: 100vh
			background-color: rgba(0, 0, 0, 0.8)
			
			main
				@include pureCenter()
				padding: 20px
				max-width: 500px

				& > ul
					display: block
		
				& > ul > li + li
					margin-left: 0
