$sticky-header-height: 60px

.pi-sticky-header 
	position: fixed
	top: 0
	left: 0
	width: 100%
	height: $sticky-header-height
	color: white
	background: #fff
	padding: 0 20px
	transition: 0.3s
	
	&.hidden
		//top: -$sticky-header-height
		transform: translateY(-100%)

	&.stuck
		top: 0
		height: $sticky-header-height
		
		
body
	padding-top: $sticky-header-height