$sticky-header-height: 110px

.pi-sticky-header 
	position: fixed
	top: 0
	left: 0
	width: 100%
	height: $sticky-header-height
	color: white
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(207,224,244,1) 100%)
	border-bottom: 1px solid white
	padding: 0 20px
	transition: 0.3s
	
	&.hidden
		top: -$sticky-header-height

	&.stuck
		top: 0
		height: $sticky-header-height
		
		
body
	padding-top: $sticky-header-height !important