

// SECTIONS
section
	position: relative
	padding: 0 20px

	&:nth-of-type(odd)
		background-color: #ffffff

	&:nth-of-type(even)
		background-color: $light-beige

main
	width: 100%
	max-width: 1200px
	text-align: left
	margin: 0 auto
	padding: 40px 0
	position: relative

	*:last-child
		margin-bottom: 0

.content
	//display: flex
	//justify-content: center

	*:last-child
		margin-bottom: 0

	& + .content
		margin-top: 30px

// HERO
#hero
	overflow: hidden
	height: 400px
	padding: 0 20px
	position: relative
	border-bottom: 5px solid $green

	&:before
		content: ''
		display: block
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		opacity: 0.6
		background: -moz-linear-gradient(top,  rgba(0,0,0,1) 0%, rgba(0,0,0,1) 7%, rgba(0,0,0,0.25) 38%, rgba(0,0,0,0.25) 99%, rgba(0,0,0,0.25) 100%);
		background: -webkit-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(0,0,0,1) 7%,rgba(0,0,0,0.25) 38%,rgba(0,0,0,0.25) 99%,rgba(0,0,0,0.25) 100%);
		background: linear-gradient(to bottom,  rgba(0,0,0,1) 0%,rgba(0,0,0,1) 7%,rgba(0,0,0,0.25) 38%,rgba(0,0,0,0.25) 99%,rgba(0,0,0,0.25) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#40000000',GradientType=0 );

	& > main
		height: 100%
		display: flex
		justify-content: flex-end
		align-items: flex-start
		flex-direction: column

	.pi-rotator
		position: relative
		width: 100%
		background: none
		
	.item
		padding: 0 20px
		background-size: cover
		background-repeat: no-repeat
		background-position: center

		&:before
			content: ''
			display: block
			position: absolute
			top: 0
			left: 0
			width: 100%
			height: 100%
			opacity: 0.6
			background: -moz-linear-gradient(top,  rgba(0,0,0,1) 0%, rgba(0,0,0,1) 7%, rgba(0,0,0,0.25) 38%, rgba(0,0,0,0.25) 99%, rgba(0,0,0,0.25) 100%);
			background: -webkit-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(0,0,0,1) 7%,rgba(0,0,0,0.25) 38%,rgba(0,0,0,0.25) 99%,rgba(0,0,0,0.25) 100%);
			background: linear-gradient(to bottom,  rgba(0,0,0,1) 0%,rgba(0,0,0,1) 7%,rgba(0,0,0,0.25) 38%,rgba(0,0,0,0.25) 99%,rgba(0,0,0,0.25) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#40000000',GradientType=0 );

		main
			position: relative
			height: 100%
			display: flex
			justify-content: center
			align-items: flex-end
			text-align: center
			text-shadow: 0 0 20px rgba(0,0,0,0.5)

			div > *
				display: block
				margin: 0 auto 10px auto
		
	p
		max-width: 50%
		font-weight: 700

	h1, h2, h3, h4, h5, p
		color: #fff

	.blips
		top: auto
		bottom: 20px
		
		button
			border-width: 2px
			border-color: $beige
			border-radius: 50%
		
			&.on, &:hover
				background-color: $beige
				
		button + button
			margin-left: 10px


.pi-prev-button, .pi-next-button
	margin: 10px

	&:hover
		background: transparent
		border-color: #fff !important




body.home #hero
	height: 600px
	padding: 0

body.inside-page #hero h1
	display: none

// MAIN CONTENT
.mainContent
	position: relative
	word-wrap: break-word

	main

		.pageTitle
			border-bottom: 1px solid #ccc
			padding-bottom: 10px

	ul
		margin: 0 0 20px 0

		& > li
			//padding-left: 25px
			margin: 0 0 10px 0
			position: relative
			line-height: 1.5em

	ol

		& > li
			margin: 0 0 10px 0
			position: relative
			line-height: 1.5em



// BREADCRUMB
#breadcrumb
	a
		margin-right: 20px
		position: relative
		display: inline-block

		&:after
			content: ''
			display: block
			width: 6px
			height: 6px
			border: solid #888
			border-width: 1px 1px 0 0
			position: absolute
			right: -10px
			top: 45%
			transform: rotate(45deg) translateY(-50%)

	b, strong
		display: none




/////////////////////////////
// COLUMNS
/////////////////////////////
.columns
	display: flex
	justify-content: center
	flex-wrap: wrap
	padding: 0
	margin: 0

	& > *
		display: block
		list-style: none
		margin: 0 0 20px 0
		width: 100%

		img
			max-width: 100%

.verticalCenter
	display: flex
	justify-content: center
	flex-direction: column

.vertical-align-top
	align-items: flex-start

.vertical-align-middle
	align-items: center

.vertical-align-bottom
	align-items: flex-end

.columns-inline
	column-count: 1
	column-gap: 40px

	& > *
		display: inline-block
		break-inside: avoid

.imageOnly
	text-align: center
	display: flex
	justify-content: center
	align-items: center

.narrow
	max-width: 600px
	margin: 0 auto





//////////////////////////////////////
// RESPONSIVE
//////////////////////////////////////

//@media (min-width: 550px)

@media (min-width: 768px)

	section
		padding: 0 30px

	main
		padding: 30px 0

	#breadcrumb
		b, strong
			display: inline-block

	.columns
		justify-content: space-between

		& > *
			width: calc(50% - 20px)
			margin: 0 0 20px 0





//@media (min-width: 900px)




@media (min-width: 1024px)

	.columns
		& > *
			width: calc(50% - 40px)
		//&.col-2 > *
		//	margin: 20px
		&.col-3 > *
			width: calc(33.33333% - 20px) !important
		&.col-5 > *
			width: calc(33.33333% - 20px) !important
		&.col-6 > *
			width: calc(33.33333% - 20px) !important

	.columns-inline
		column-count: 2
		column-gap: 30px







@media (min-width: 1100px)

	section
		padding: 0 30px

	main
		padding: 80px 0

	.columns
		&.col-2
			&.sizes-33-66
				div:nth-child(1)
					width: calc(33.33333% - 20px) !important
				div:nth-child(2)
					width: calc(66.66666% - 20px) !important
			&.sizes-66-33
				div:nth-child(1)
					width: calc(66.66666% - 20px) !important
				div:nth-child(2)
					width: calc(33.33333% - 20px) !important
		&.col-4 > *
			width: calc(25% - 20px) !important

	.columns-inline
		column-gap: 40px



@media (min-width: 1200px)

	&.col-5 > *
		width: calc(20% - 20px) !important
	&.col-6 > *
		width: calc(16.666666% - 20px) !important