

// SECTIONS
section
	position: relative
	padding: 0 20px

	ul, ol
		margin: 10px 0 20px 0

		& > li
			margin: 0 0 5px 0
			position: relative
			line-height: 1.5em

	ul li
		list-style-type: square

main
	width: 100%
	max-width: 1200px
	text-align: left
	margin: 0 auto
	padding: 20px 0
	position: relative


// MAIN CONTENT
.mainContent
	position: relative
	word-wrap: break-word
	border-bottom: 1px solid #ccc

	main

		.pageTitle
			border-bottom: 1px solid #ccc
			padding-bottom: 10px




// BREADCRUMB
#breadcrumb
	border-bottom: 1px solid #ccc

	main
		padding: 10px 0
		white-space: nowrap
		text-overflow: ellipsis
		overflow: hidden

	a
		margin-right: 20px
		position: relative
		display: inline-block


		&:after
			content: ''
			display: block
			width: 6px
			height: 6px
			border: solid #888
			border-width: 1px 1px 0 0
			position: absolute
			right: -9px
			top: 45%
			transform: rotate(45deg) translateY(-50%)

	b, strong
		color: $dark-blue





/////////////////////////////
// FLEX TEXT ALIGNING
/////////////////////////////
.flex-text-align
	display: flex

.flex-align-left
	justify-content: flex-start
	text-align: left

.flex-align-center
	justify-content: center
	text-align: center

.flex-align-right
	justify-content: flex-end
	text-align: right

.flex-align-top
	align-items: flex-start

.flex-align-middle
	align-items: center

.flex-align-bottom
	align-items: flex-end

/////////////////////////////
// CONTENT
/////////////////////////////
.flexContent
	border-bottom: 1px solid #ccc

.content
	margin: 0 0 40px 0

	&:last-child
		margin-bottom: 0


/////////////////////////////
// COLUMNS
/////////////////////////////
.columns
	display: flex
	justify-content: center
	flex-wrap: wrap
	padding: 0
	margin: 0

	& > *
		display: block
		list-style: none
		margin: 0 0 20px 0
		width: 100%

		img
			max-width: 100%

.verticalCenter
	display: flex
	justify-content: center
	flex-direction: column

.vertical-align-top
	align-items: flex-start

.vertical-align-middle
	align-items: center

.vertical-align-bottom
	align-items: flex-end

.columns-inline
	column-count: 1
	column-gap: 40px

	& > *
		display: inline-block
		break-inside: avoid

.imageOnly
	text-align: center
	display: flex
	justify-content: center
	align-items: center

.narrow
	max-width: 600px
	margin: 0 auto



/////////////////////////////
// FAQ
/////////////////////////////
.faq
	.q-and-a
		margin-bottom: 20px
		position: relative

		.question, .answer
			padding-left: 24px
			position: relative

			&:before
				content: 'Q:'
				display: block
				position: absolute
				top: 0
				left: 0
				font-weight: 800
				font-size: 18px !important

		.answer:before
			content: 'A:'

		.question
			color: #000
			font-weight: bold
			font-size: 22px
			line-height: 1.5em












//////////////////////////////////////
// RESPONSIVE
//////////////////////////////////////

//@media (min-width: 550px)

@media (min-width: 768px)

	section
		padding: 0 30px

	main
		padding: 30px 0

	#breadcrumb
		b, strong
			display: inline-block

	.columns
		justify-content: space-between

		& > *
			width: calc(50% - 20px)
			margin: 0 0 20px 0


//@media (min-width: 900px)


@media (min-width: 1024px)

	.columns
		& > *
			width: calc(50% - 40px)
		//&.col-2 > *
		//	margin: 20px
		&.col-3 > *
			width: calc(33.33333% - 20px) !important
		&.col-5 > *
			width: calc(33.33333% - 20px) !important
		&.col-6 > *
			width: calc(33.33333% - 20px) !important

	.columns-inline
		column-count: 2
		column-gap: 30px


@media (min-width: 1100px)

	section
		padding: 0 30px

	main
		padding: 50px 0

	.columns
		&.col-2
			&.sizes-33-66
				div:nth-child(1)
					width: calc(33.33333% - 20px) !important
				div:nth-child(2)
					width: calc(66.66666% - 20px) !important
			&.sizes-66-33
				div:nth-child(1)
					width: calc(66.66666% - 20px) !important
				div:nth-child(2)
					width: calc(33.33333% - 20px) !important
		&.col-4 > *
			width: calc(25% - 20px) !important

	.columns-inline
		column-gap: 40px


@media (min-width: 1200px)
	.columns
		&.col-5 > *
			width: calc(20% - 20px) !important
		&.col-6 > *
			width: calc(16.666666% - 20px) !important