.white-background
	background-color: white

.green-background
	background-color: $green

.yellow-background
	background-color: $yellow

.white-text
	color: #ffffff

	h1, h2, h3, h4
		color: #fff

.yellow-text
	color: $yellow
	

#top
	header
		& > main
			padding: 0
			height: 100%
			display: flex
			justify-content: space-between
			align-items: center
			
	.narrow
		position: relative
		margin: 0 auto
		width: 60%
		max-width: 800px
		min-width: 600px
		
		h2
			text-align: center
			
	p
		font-size: 1.25em
			
	.weird-line
		position: absolute
		bottom: 0
		left: calc(50% - 1px)
		width: 2px
		height: 100px
			
	#wwinLogo
		width: 150px
		margin-bottom: 60px
	
	blockquote
		position: relative
		border: 0
		font-size: 2em
		line-height: 1.25em
		padding-top: 80px
		quotes: "“" "”" "‘" "’"

		p
			font-family: $baseFont
			font-style: normal
			font-size: 0.5em
			color: $yellow
			text-transform: uppercase
			
		&:before
			content: open-quote
			position: absolute
			top: 40px
			left: 50%
			width: 100px
			padding-top: 20px
			transform: translateX(-50%)
			font-family: Georgia serif !important
			color: yellow
			font-size: 180px

	#banner
		margin-top: -60px
		overflow: hidden

		video
			position: absolute
			top: 0
			left: 0
			width: 100%

		main
			padding: 210px 0 150px
			display: flex
			flex-direction: column
			justify-content: center
			align-items: center

		h1
			font-size: 5em

	#greenStars
		padding-bottom: 50px
		
		main
			padding-top: 100px
		h2
			margin-bottom: 40px
			
		.narrow
			margin-bottom: 80px
