


input[type=text], input[type=password], input[type=email], input[type=number], input[type=tel], input[type=date], textarea, select
	margin: 0
	padding: 5px 10px
	font-size: 16px
	color: #888
	line-height: 1.5em
	border: 1px solid #888

input[type=submit], input[type=reset], input[type=button], button, .button
	font-family: $baseFont
	font-size: 1em
	font-weight: 700
	display: inline-block
	padding: 8px 20px
	background-color: $light-green
	color: black
	transition: 0.3s
	border: none
	outline-width: 0
	cursor: pointer

	&:hover
		text-decoration: none
		background-color: $green
		color: white
	
label
	color: $heading-color

	
#registration
	fieldset
		border: 0
		margin-bottom: 50px
		
	.text-label, .checkbox-label, .labelradio
		display: block
		font-weight: bold

	.text-label span
		display: inline-block
		
	.labelradio
		line-height: 1.5em

	.text-label input[type=text], .checkbox-label input[type=text], .text-label textarea
		display: block

	.checkbox-label input[type=text], .text-label textarea
		width: auto
		margin-left: 20px
		
	.radiogroup br
		display: none
		
	input[type=text]
		width: 100%

.formRow + .formRow
	margin-top: 20px
	
.screen-reader
	display: none

	
	
// NINJA FORMS
.nf-input-limit, .nf-form-fields-required
	display: none

.nf-field-container
	margin-bottom: 20px !important

.label-above .nf-field-label
	margin-bottom: 5px !important


//////////////////////////////////////
// RESPONSIVE
//////////////////////////////////////

//@media (min-width: 550px)

//@media (min-width: 768px)

//@media (min-width: 900px)

//@media (min-width: 1024px)

//@media (min-width: 1100px)