@font-face 
	font-family: "Objektiv"
	src: url("/fonts/544cf38d-83ab-408e-85b9-1b32dba4c1c0.eot?#iefix")
	src: url("/fonts/544cf38d-83ab-408e-85b9-1b32dba4c1c0.eot?#iefix") format("eot"), url("/fonts/4d8002cd-e2fd-4f1f-b85e-3a75af73afe9.woff2") format("woff2"), url("/fonts/5fba92c2-c365-4c98-bbd3-91ef55a0c778.woff") format("woff"), url("/fonts/ce4fe055-644f-43d5-bd5f-09dede2e3556.ttf") format("truetype"), url("/fonts/4a0a66b4-9dcf-4ea0-aa91-2f0c62cbddd3.svg#4a0a66b4-9dcf-4ea0-aa91-2f0c62cbddd3") format("svg")
	font-weight: 100 

@font-face 
	font-family: "Objektiv"
	src: url("/fonts/caba4c51-faac-4360-8330-b20c4998f0f8.eot?#iefix")
	src: url("/fonts/caba4c51-faac-4360-8330-b20c4998f0f8.eot?#iefix") format("eot"), url("/fonts/ba4eb142-ff8f-404e-8c52-4a77612438ed.woff2") format("woff2"), url("/fonts/31419e26-9769-46fc-93bb-1ec1a9d28ce3.woff") format("woff"), url("/fonts/14f5478e-e984-4d72-b574-0de7136f5afb.ttf") format("truetype"), url("/fonts/1b952e05-8180-495a-a18f-a6a581a403a8.svg#1b952e05-8180-495a-a18f-a6a581a403a8") format("svg")
	font-weight: 200 

@font-face 
	font-family: "Objektiv"
	src: url("/fonts/dff6318d-adb5-411e-aac8-ee7d97597aae.eot?#iefix")
	src: url("/fonts/dff6318d-adb5-411e-aac8-ee7d97597aae.eot?#iefix") format("eot"), url("/fonts/972e9c0e-226d-41d6-9e6c-cdbcf2b6cd8f.woff2") format("woff2"), url("/fonts/cb2777be-fc8f-4767-bbc0-e23aeacaf8c7.woff") format("woff"), url("/fonts/6338f837-108a-4c75-a010-81e307a33fc2.ttf") format("truetype"), url("/fonts/37f99ec9-b890-46d0-a758-99e0790895a9.svg#37f99ec9-b890-46d0-a758-99e0790895a9") format("svg")
	font-weight: normal 

@font-face 
	font-family: "Objektiv"
	src: url("/fonts/128b8a70-37d7-4653-b5fa-e86d033be26a.eot?#iefix")
	src: url("/fonts/128b8a70-37d7-4653-b5fa-e86d033be26a.eot?#iefix") format("eot"), url("/fonts/99715a8a-fdc0-452f-835d-b6bac41643f3.woff2") format("woff2"), url("/fonts/a1aad88a-edfe-4fa8-bc4d-a6855f62899b.woff") format("woff"), url("/fonts/53efee03-523b-4433-812c-e77cde78e8df.ttf") format("truetype"), url("/fonts/ad918e2d-50c6-41ae-a558-ed4112b21f12.svg#ad918e2d-50c6-41ae-a558-ed4112b21f12") format("svg")
	font-weight: 500 

@font-face 
	font-family: "Objektiv"
	src: url("/fonts/108caaff-fe3c-4c1e-8cc8-ef0ae3011f14.eot?#iefix")
	src: url("/fonts/108caaff-fe3c-4c1e-8cc8-ef0ae3011f14.eot?#iefix") format("eot"), url("/fonts/b709d7ae-34b0-442b-b664-747c6d5e696f.woff2") format("woff2"), url("/fonts/fd69b7da-b3e0-4ce9-b1d3-772f510b3776.woff") format("woff"), url("/fonts/263b12c4-1e3f-495d-9894-f03718da5e96.ttf") format("truetype"), url("/fonts/fac531d1-b526-4276-8e17-fd1fcb2bdef9.svg#fac531d1-b526-4276-8e17-fd1fcb2bdef9") format("svg")
	font-weight: bold 

@font-face 
	font-family: "Objektiv"
	src: url("/fonts/c07d43f8-fbb7-4f2c-a156-782843a33bb0.eot?#iefix")
	src: url("/fonts/c07d43f8-fbb7-4f2c-a156-782843a33bb0.eot?#iefix") format("eot"), url("/fonts/a00c538b-3e8a-4f0e-a124-2fe1e3359a32.woff2") format("woff2"), url("/fonts/f1cb602b-09f9-40b4-9d65-1016827d5d6c.woff") format("woff"), url("/fonts/2b260c16-fa36-4450-8448-3e6b86dc3c49.ttf") format("truetype"), url("/fonts/c08a04bd-9a55-4523-b552-512a3110d70d.svg#c08a04bd-9a55-4523-b552-512a3110d70d") format("svg")
	font-weight: 800 

@font-face 
	font-family: "Objektiv"
	src: url("/fonts/9c9a4e32-2402-4bf2-9ef0-bd0f7d25c0a9.eot?#iefix")
	src: url("/fonts/9c9a4e32-2402-4bf2-9ef0-bd0f7d25c0a9.eot?#iefix") format("eot"), url("/fonts/77dde580-3cdb-4020-b7e7-cbaed2607a47.woff2") format("woff2"), url("/fonts/033372af-d2f6-4cbc-a029-88fabe04e1e0.woff") format("woff"), url("/fonts/29490394-9415-448b-bd4c-33b358dd6546.ttf") format("truetype"), url("/fonts/7434e710-62f5-482b-9210-e10e37141d11.svg#7434e710-62f5-482b-9210-e10e37141d11") format("svg")
	font-weight: 900 



@font-face
	font-family: "Averta"
	src: url("/wp-content/themes/uc/fonts/adb5b25e-c207-4686-b23a-4269f28650e9.eot?#iefix")
	src: url("/wp-content/themes/uc/fonts/adb5b25e-c207-4686-b23a-4269f28650e9.eot?#iefix") format("eot"),url("/wp-content/themes/uc/fonts/3c02ef0f-3487-47fc-80ff-f187a773f58a.woff2") format("woff2"),url("/wp-content/themes/uc/fonts/a125edba-606c-4b37-ba1d-0c0e7487d491.woff") format("woff"),url("/wp-content/themes/uc/fonts/589660b0-88b8-428e-86cb-50c0d49752ca.ttf") format("truetype"),url("/wp-content/themes/uc/fonts/7822a536-ea9d-4d7d-8efb-9e6f8d7c7153.svg#7822a536-ea9d-4d7d-8efb-9e6f8d7c7153") format("svg")
	font-weight: 100
	font-style: normal

@font-face
	font-family: "Averta"
	src: url("/wp-content/themes/uc/fonts/0dfda193-5c7d-4a1d-ae96-7de7fb334a15.eot?#iefix")
	src: url("/wp-content/themes/uc/fonts/0dfda193-5c7d-4a1d-ae96-7de7fb334a15.eot?#iefix") format("eot"),url("/wp-content/themes/uc/fonts/3af6507f-b340-46cb-a1da-db5935b4530d.woff2") format("woff2"),url("/wp-content/themes/uc/fonts/4f09c451-a45d-4981-a90e-533e9383b2d1.woff") format("woff"),url("/wp-content/themes/uc/fonts/2bc297e6-011f-44ea-9ac6-61fad7d6baea.ttf") format("truetype"),url("/wp-content/themes/uc/fonts/7d7e1fab-3698-4396-94a8-030230da0f0b.svg#7d7e1fab-3698-4396-94a8-030230da0f0b") format("svg")
	font-weight: 100
	font-style: italic

@font-face
	font-family: "Averta"
	src: url("/wp-content/themes/uc/fonts/9ae60c14-8134-401f-9137-4e282b8b03a1.eot?#iefix")
	src: url("/wp-content/themes/uc/fonts/9ae60c14-8134-401f-9137-4e282b8b03a1.eot?#iefix") format("eot"),url("/wp-content/themes/uc/fonts/8287344a-4cde-463e-9f06-9985ca85dba1.woff2") format("woff2"),url("/wp-content/themes/uc/fonts/84e1d10c-9475-4041-ac4f-0f89e6d33c2f.woff") format("woff"),url("/wp-content/themes/uc/fonts/a1f880de-e110-498e-a39d-9eb1035066e9.ttf") format("truetype"),url("/wp-content/themes/uc/fonts/7d451843-0a09-455b-944d-b342c89d95f5.svg#7d451843-0a09-455b-944d-b342c89d95f5") format("svg")
	font-weight: 200
	font-style: normal

@font-face
	font-family: "Averta"
	src: url("/wp-content/themes/uc/fonts/8d08e399-e2c5-41ab-9b62-95455c2edcef.eot?#iefix")
	src: url("/wp-content/themes/uc/fonts/8d08e399-e2c5-41ab-9b62-95455c2edcef.eot?#iefix") format("eot"),url("/wp-content/themes/uc/fonts/242030b7-dab4-4cdf-b2f0-81068ac58446.woff2") format("woff2"),url("/wp-content/themes/uc/fonts/e94d6a8d-a2f5-4530-94a2-0d0d14e13fc0.woff") format("woff"),url("/wp-content/themes/uc/fonts/10c4f07c-29c8-492b-be4c-4ca2a9ed0db9.ttf") format("truetype"),url("/wp-content/themes/uc/fonts/9282f73d-fa5d-4cce-a030-d90ee94f8fc5.svg#9282f73d-fa5d-4cce-a030-d90ee94f8fc5") format("svg")
	font-weight: 200
	font-style: italic

@font-face
	font-family: "Averta"
	src: url("/wp-content/themes/uc/fonts/025b33d7-74f5-4aa8-94a0-b882e0b23521.eot?#iefix")
	src: url("/wp-content/themes/uc/fonts/025b33d7-74f5-4aa8-94a0-b882e0b23521.eot?#iefix") format("eot"),url("/wp-content/themes/uc/fonts/166ce875-a649-4826-a5a0-a24f2dd89cd5.woff2") format("woff2"),url("/wp-content/themes/uc/fonts/fc417db9-6d91-4c85-81b1-2ff3d583d149.woff") format("woff"),url("/wp-content/themes/uc/fonts/04ba64d0-f98c-415f-a1a9-c785f3e94181.ttf") format("truetype"),url("/wp-content/themes/uc/fonts/c2799039-228f-4459-b007-e6b4fdcd65e7.svg#c2799039-228f-4459-b007-e6b4fdcd65e7") format("svg")
	font-weight: 400
	font-style: normal

@font-face
	font-family: "Averta"
	src: url("/wp-content/themes/uc/fonts/e8ec87f6-0e29-450c-a79e-91fb8932fb4d.eot?#iefix")
	src: url("/wp-content/themes/uc/fonts/e8ec87f6-0e29-450c-a79e-91fb8932fb4d.eot?#iefix") format("eot"),url("/wp-content/themes/uc/fonts/a5a6b226-c201-4c7e-aa75-6d01874f1a83.woff2") format("woff2"),url("/wp-content/themes/uc/fonts/09560f34-5e51-44e7-962d-dbb751f7dee4.woff") format("woff"),url("/wp-content/themes/uc/fonts/e255f9f8-1b6b-4961-9be7-82bf4ddfae61.ttf") format("truetype"),url("/wp-content/themes/uc/fonts/436eed18-016d-4fa6-a985-c8799e189629.svg#436eed18-016d-4fa6-a985-c8799e189629") format("svg")
	font-weight: 400
	font-style: italic

@font-face
	font-family: "Averta"
	src: url("/wp-content/themes/uc/fonts/63084194-2cda-4ac9-b123-7f45379756ad.eot?#iefix")
	src: url("/wp-content/themes/uc/fonts/63084194-2cda-4ac9-b123-7f45379756ad.eot?#iefix") format("eot"),url("/wp-content/themes/uc/fonts/5b6b0808-79db-4639-ab19-365f715f83b9.woff2") format("woff2"),url("/wp-content/themes/uc/fonts/0d9ceccf-0cd7-44dc-8c2a-dbc0ed90f149.woff") format("woff"),url("/wp-content/themes/uc/fonts/b03141a0-a172-477f-ba2c-80e817c07f2f.ttf") format("truetype"),url("/wp-content/themes/uc/fonts/09916ed0-fb6c-460d-82d1-3a51daea6f02.svg#09916ed0-fb6c-460d-82d1-3a51daea6f02") format("svg")
	font-weight: 600
	font-style: normal

@font-face
	font-family: "Averta"
	src: url("/wp-content/themes/uc/fonts/b107b23a-3537-4b14-935c-243768b7c310.eot?#iefix")
	src: url("/wp-content/themes/uc/fonts/b107b23a-3537-4b14-935c-243768b7c310.eot?#iefix") format("eot"),url("/wp-content/themes/uc/fonts/a865642b-c657-4a8c-b31c-3387daa11432.woff2") format("woff2"),url("/wp-content/themes/uc/fonts/2d64d960-d035-4629-99e9-5571504beb94.woff") format("woff"),url("/wp-content/themes/uc/fonts/fc3cdfd6-927c-4362-959c-681e3871e330.ttf") format("truetype"),url("/wp-content/themes/uc/fonts/6d792005-db0e-4bde-ac74-81a8e26e2281.svg#6d792005-db0e-4bde-ac74-81a8e26e2281") format("svg")
	font-weight: 600
	font-style: italic

@font-face
	font-family: "Averta"
	src: url("/wp-content/themes/uc/fonts/4b210cf6-f4ac-438c-9671-a4472e2ff647.eot?#iefix")
	src: url("/wp-content/themes/uc/fonts/4b210cf6-f4ac-438c-9671-a4472e2ff647.eot?#iefix") format("eot"),url("/wp-content/themes/uc/fonts/91271893-3829-4dc9-a79b-a47b7146022c.woff2") format("woff2"),url("/wp-content/themes/uc/fonts/17dd7da6-7e09-45f6-bae4-9a944baed5a6.woff") format("woff"),url("/wp-content/themes/uc/fonts/c50d808d-b715-4658-bfa2-d17977b03801.ttf") format("truetype"),url("/wp-content/themes/uc/fonts/1af6ffc3-62f7-46ec-a0a4-27dddb17be03.svg#1af6ffc3-62f7-46ec-a0a4-27dddb17be03") format("svg")
	font-weight: 700
	font-style: normal

@font-face
	font-family: "Averta"
	src: url("/wp-content/themes/uc/fonts/93b0b371-9740-4e82-a103-86f510066fa8.eot?#iefix")
	src: url("/wp-content/themes/uc/fonts/93b0b371-9740-4e82-a103-86f510066fa8.eot?#iefix") format("eot"),url("/wp-content/themes/uc/fonts/b7fbd7d4-32a7-453d-84d3-1345247e48bb.woff2") format("woff2"),url("/wp-content/themes/uc/fonts/934be726-c31d-448f-9d56-76f74f872f91.woff") format("woff"),url("/wp-content/themes/uc/fonts/d548d4de-4361-4f66-8749-03dc65dfc6db.ttf") format("truetype"),url("/wp-content/themes/uc/fonts/2798578d-5bfa-47a0-89b4-18b4d231d7dd.svg#2798578d-5bfa-47a0-89b4-18b4d231d7dd") format("svg")
	font-weight: 700
	font-style: italic

@font-face
	font-family: "Averta"
	src: url("/wp-content/themes/uc/fonts/64b116cf-eef2-4493-876b-6768a91b6f3f.eot?#iefix")
	src: url("/wp-content/themes/uc/fonts/64b116cf-eef2-4493-876b-6768a91b6f3f.eot?#iefix") format("eot"),url("/wp-content/themes/uc/fonts/51cafd8f-9166-4c3a-992b-901024545956.woff2") format("woff2"),url("/wp-content/themes/uc/fonts/d34b6bd9-57f6-45b8-bc42-8dcf2d1a6239.woff") format("woff"),url("/wp-content/themes/uc/fonts/960f6d9c-ccfe-4a3a-ad93-fbe25aff0e30.ttf") format("truetype"),url("/wp-content/themes/uc/fonts/062e8f9f-d723-415d-8407-3809d8d0334c.svg#062e8f9f-d723-415d-8407-3809d8d0334c") format("svg")
	font-weight: 800
	font-style: normal

@font-face
	font-family: "Averta"
	src: url("/wp-content/themes/uc/fonts/34ff2063-71fa-4379-8724-0200ae73061a.eot?#iefix")
	src: url("/wp-content/themes/uc/fonts/34ff2063-71fa-4379-8724-0200ae73061a.eot?#iefix") format("eot"),url("/wp-content/themes/uc/fonts/43093f69-cd8e-4554-b17a-c7d8ac508a06.woff2") format("woff2"),url("/wp-content/themes/uc/fonts/593cff70-eecc-4b5a-9b70-961965e4995e.woff") format("woff"),url("/wp-content/themes/uc/fonts/dc8d3a25-4510-4228-9d9f-4642d65c70c0.ttf") format("truetype"),url("/wp-content/themes/uc/fonts/e292e57f-2e48-4859-920b-a85064399384.svg#e292e57f-2e48-4859-920b-a85064399384") format("svg")
	font-weight: 800
	font-style: italic




$pink: #f449aa
$purple: #6d73e7
$dark-grey: #262e34
$video-grey: #262f3a

.pink
	color: $pink
	
.purple
	color: $purple

$baseFont: 'Objectiv', Arial, Helvetica, sans-serif
$heading: 'Objective', Arial, Helvetica, sans-serif
$main-nav-font: 'Objectiv', Arial, Helvetica, sans-serif

*
	box-sizing: border-box

header, footer, section, main, nav
	display: block

body
	padding: 0
	margin: 0
	font-family: $baseFont
	font-size: 16px
	line-height: 1.5em
	color: #666
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale
	-webkit-text-size-adjust: none
	-ms-text-size-adjust: none
	text-size-adjust: none

a
	text-decoration: none
	color: inherit

	&:hover
		text-decoration: underline

	img
		border:	0

h1, h2, h3, h4, h5
	margin: 0 0 10px 0
	font-family: $heading
	line-height: 1.3em

h1
	font-size: 2.5em
	margin-bottom: 20px

h2
	font-size: 2em

h3
	font-size: 1.5em

h4
	font-size: 1.3em
	margin-bottom: 20px

h5
	font-size: 1.2em

p
	margin: 0 0 20px 0

	&:last-child
		margin-bottom: 0

strong, b
	font-weight: bold

blockquote
	padding: 0 0 0 20px
	margin: 0 0 20px 0
	border-left: 5px solid
	font-style: italic
	font-size: 20px
	line-height: 1.5em
	font-family: 'Georgia', serif

hr
	clear: both
	height: 0
	border: solid #ccc
	border-width: 0 0 1px 0
	padding: 20px 0 0 0
	margin: 0 0 20px 0

	& + p
		padding-top: 10px

table, th, tbody, tr, td
	border:	0

table
	margin-bottom: 20px
	clear: both
	border-spacing: 0
	line-height: 1.2em

	tr
		td
			padding: 10px 10px 10px 0
			border: solid #ccc
			border-width: 1px 0 0 0

		&:last-child
			td
				border-width: 1px 0

.tableBox
	width: 100%
	overflow: auto





















//////////////////////////////////////
// RESPONSIVE
//////////////////////////////////////

//@media (min-width: 550px)

@media (min-width: 768px)

	body
		padding-top: 60px

	h1
		font-size: 3em

	h2
		font-size: 2.5em

	h3
		font-size: 2em

	h4
		font-size: 1.6em

	h5
		font-size: 1.2em

//@media (min-width: 900px)

//@media (min-width: 1024px)

@media (min-width: 1100px)

	h1
		font-size: 3.5em

	h2
		font-size: 2.8em

	h3
		font-size: 2em

	h4
		font-size: 1.6em

	h5
		font-size: 1em