header
	position: absolute
	top: 0
	left: 0
	width: 100%
	height: 80px
	
	main
		position: relative
		height: 100%
		padding: 0

#logo
	position: relative
	display: block
	height: 100%
	
	img
		position: relative
		height: 100%

nav.pi-unimenu
	position: absolute !important
	top: 0
	right: 0