$light-grey: #666666

.pi-prev-button, .pi-next-button, .pi-modal-close-button, .blips
	position: absolute
	padding: 0
	z-index: 9999999

.pi-prev-button, .pi-next-button
	width: 60px
	height: 60px
	background: rgba(34,34,34,0.5)
	border: 0
	border-radius: 50%
	top: 50%
	cursor: pointer
	transition: all 0.15s
	transform: translateY(-50%)

	&:before
		content: ''
		display: block
		width: 20px
		height: 20px
		border: solid #fff
		border-width: 4px 0 0 4px
		position: absolute
		top: 50%
		left: calc(50% + 5px)
		transform: translate(-50%, -50%) rotate(-45deg)

	&:hover
		background: #222

	&.off
		opacity: 0

.pi-prev-button
	left: 0

.pi-next-button
	right: 0

	&:before
		left: calc(50% - 5px)
		transform: translate(-50%, -50%) rotate(135deg)

.pi-modal-close-button
	background: none
	border: 0
	top: 20px
	right: 20px
	cursor: pointer
	@include ecks(40)

	&:before, &:after
		transition: background-color 0.3s

	&:hover
		&:before, &:after
			background-color: $light-grey

.pi-overlay
	@include fullscreen
	background-color: transparentize(black, 0.2)
	z-index: 999999



.blips
	@include pureCenter(calc(100% - 80px))

	button
		position: relative
		padding: 0
		background: none
		border: 3px solid #999999
		width: 15px
		height: 15px
		cursor: pointer
		transition: background-color 0.15s

		&:hover
			background-color: #999999

		&.on
			border-color: white
			background-color: white

		&.on:hover
			background-color: white

	button + button
		margin-left: 6px



// TODO: spinner
